.aboveTheFold {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: url(../images/it_service/AboveTheFold-node.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    color: whitesmoke;
}
.wlc {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wlc_Heading{
    width: 100%;
    height: 50px;
    font-family: Elham, Arial, sans-serif, serif;
    font-size: 2.5rem;
    color: rgb(197, 219, 248);
    text-align: center;
    padding-bottom: 60px;
}

.wlc_Discription {
    direction: rtl;
    font-family: Homa, sans-serif;
    font-size: 17px;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 50px;

}

.wlc_second_Discription {
    direction: rtl;
    float: right;
    width: 90%;
    height: 50px;
    text-align: center;
    font-family: Homa, serif;
    color: seashell;
    font-size: 1.2rem;
    font-weight: bolder;
    line-height: 30px;
}

@media (min-width:768px){
    .logo {
        font-size: 1.3rem;
    }
    .logo img {
       height: 110px;
    }
    .wlc {
        width: 100%;
    }
    .wlc_Heading {
        font-size: 4.5rem;
        padding-bottom: 90px;
    }
    .wlc_second_Discription, .wlc_Discription {
        font-size: 1.5rem;
    }

}

 @media (min-width:1000px){
     .logo {
         font-size: 1.3rem;
     }
     .logo img {
        height: 110px;
     }
     .wlc {
         width: 100%;
     }
     .wlc_Heading {
         font-size: 6.5rem;
         padding-bottom: 120px;
     }
     .wlc_second_Discription, .wlc_Discription {
         font-size: 1.8rem;
         padding-bottom: 70px;
     }

 }